<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% for tpage in site.categories[attr] %}
            {% if forloop.first %}
                <!-- <li class="nav-header">{{ label }}</li> -->
            {% endif %}
            <li class="{% if page.url == tpage.url %}active{% endif %}" data-order="{{ tpage.order }}"><a href="{{ site.baseurl }}{{ tpage.url }}">{{ label }}</a></li>
        {% endfor %}
    {% endfor %}
    <li class="divider"></li>
    <li><a href="{{ site.baseurl }}/debugging.html">Debugging</a></li>
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
